<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <link href="https://fonts.googleapis.com/css?family=BioRhyme|Raleway" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
    <nav class="nav navbar navbar-inverse navbar-fixed-top">
        <div class="topnav">
            <a class="navbar-brand navbar-dark" href="/">
                <img src="./images/ORvan-copy.png" alt="Logo" style="width:82px;">Open Road</a>
                 </div>
            <a button type="button" class="btn btn-light justify" href="/auth/login">Login</a>
            <a button type="button" class="btn btn-light justify" href="/auth/login">Sign Up</a>
    </nav>
    <header class="col">
 <style>
        html, body {
          font-family: 'Raleway', sans-serif;
            margin:auto;
          background-image: url(https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-665023.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            width: 100%;
          height: 100%;
  position: absolute;
}
  h1 {
    font-family: 'BioRhyme', serif;
  }

  a {
    font-family: 'Raleway', sans-serif;
  }

  #map {
    width: 100%;
    height: 600px;
    padding: 5px;
}
.controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
#searchInput {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 50%;
}
#searchInput:focus {
    border-color: #4d90fe;
}
#ben, #julian {
  max-width: 400px;
  max-height: 420px;
}

    hr {
    border: none;
    border-top: 3px double #333;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
    margin: 0 auto;
}

  </style>
    </header>
    
    <div class="col">

    <input id="searchInput" class="controls" type="text" placeholder="Enter a location">
    <div id="map"></div>
    </div>

    <img src="ORvan-copy.png" alt="">

    <div class="plan-trip col">
        <h1>Plan Trip</h1>
        <button type="button" name="button" class="btn btn-light"><a href="/trip/new">Create Your Trip Today</a></button>
    </div>
    <hr>

    <div class="browse-trip col">
        <h1>Browse Trips</h1>
        <button type="button" name="button" class="btn btn-light"><a href="/trip">Browse</a></button>
    </div>
    <hr>

    <div class="staff-favs col">
        <h1>Staff Favorites</h1>
    </div>
    <hr>

    <div class="about col">
        <h1>About Open Road</h1>

        <h3>The goal of everyone at Open Road is to provide a superbly well organized and personalized road trip platform that will inspire, replenish and astonish our customers for a price that is considered outstanding value for money no matter the budget. We will offer outstanding service, whether the customer is pre-tour, on tour or having returned home. Our team will always thrive to make sure that your next trip is a success!</h3></br>

        <div class="team">
            <h2>Meet Our Team</h2>

            <h3>Ben</h3>
            <img id="ben" src="https://scontent-dfw5-1.xx.fbcdn.net/v/t1.0-9/23722685_1261452767293149_7718071139823405297_n.jpg?_nc_cat=110&_nc_ht=scontent-dfw5-1.xx&oh=9cea775e2b5ba5523250cc9e8618c709&oe=5C51F0B0" alt="">
            <h4>Meet Ben, our lead developer, who loves to be on the open road. He never turns down a road trip. Like, ever. Just ask him yourself. He can never say no! Ben really loves traveling to national parks and the occasional winery tour. If you're not sure about your next trip, reach out to him for any suggestions. On a technical aspect, Ben has a true passion for front-end development and is always willing to lend a hand or any expertise. </h4>

            <h3>Julian</h3>
            <img id="julian" src="https://scontent-dfw5-1.xx.fbcdn.net/v/t1.0-9/11260942_10152949371377877_5830480938459649491_n.jpg?_nc_cat=111&_nc_ht=scontent-dfw5-1.xx&oh=1ee0c65d6d6fbd84ddeb55f25e14daa9&oe=5C83B68E" alt="">
            <h4>Meet Julian, our 2nd in command. When he's not working on new changes for our site, he's climbing the nearest mountain or deep down his favorite hiking trail. He has tons of recommendations for camping spots, desert treks, and the coolest brewery tours around! Julian's tech passion is the back-end. Feel free to reach out to him if you have any questions.</h4>
        </div>

    </div>

    <div class="contact">
        <footer>
            <h1>Contact<h1>
        </footer>
    </div>
    <script>
        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                center: {
                    lat: 31.67754321,
                    lng: -98.5089314
                },
                zoom: 6
            });
            var input = document.getElementById('searchInput');
            map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

            var autocomplete = new google.maps.places.Autocomplete(input);
            autocomplete.bindTo('bounds', map);

            var infowindow = new google.maps.InfoWindow();
            var marker = new google.maps.Marker({
                map: map,
                anchorPoint: new google.maps.Point(0, -29)
            });

            autocomplete.addListener('place_changed', function() {
                infowindow.close();
                marker.setVisible(false);
                var place = autocomplete.getPlace();
                if (!place.geometry) {
                    window.alert("Autocomplete's returned place contains no geometry");
                    return;
                }

                // If the place has a geometry, then present it on a map.
                if (place.geometry.viewport) {
                    map.fitBounds(place.geometry.viewport);
                } else {
                    map.setCenter(place.geometry.location);
                    map.setZoom(12);
                }
                marker.setIcon(({
                    url: place.icon,
                    size: new google.maps.Size(71, 71),
                    origin: new google.maps.Point(0, 0),
                    anchor: new google.maps.Point(17, 34),
                    scaledSize: new google.maps.Size(35, 35)
                }));
                marker.setPosition(place.geometry.location);
                marker.setVisible(true);

                var address = '';
                if (place.address_components) {
                    address = [
                        (place.address_components[0] && place.address_components[0].short_name || ''),
                        (place.address_components[1] && place.address_components[1].short_name || ''),
                        (place.address_components[2] && place.address_components[2].short_name || '')
                    ].join(' ');
                }

                infowindow.setContent('<div><strong>' + place.name + '</strong><br>' + address);
                infowindow.open(map, marker);

                //Location details
                for (var i = 0; i < place.address_components.length; i++) {
                    if (place.address_components[i].types[0] == 'postal_code') {
                        document.getElementById('postal_code').innerHTML = place.address_components[i].long_name;
                    }
                    if (place.address_components[i].types[0] == 'country') {
                        document.getElementById('country').innerHTML = place.address_components[i].long_name;
                    }
                }
                document.getElementById('location').innerHTML = place.formatted_address;
                document.getElementById('lat').innerHTML = place.geometry.location.lat();
                document.getElementById('lon').innerHTML = place.geometry.location.lng();
            });
        }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAJq8KQKS8pry66L5fJPWHWPm9Mbfc5KaI&callback=initMap&libraries=places">
    </script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</body>

</html>
