<!DOCTYPE html>
<html>

<head>
    <%# <script src="http://maps.google.com/maps/api/js?libraries=places&sensor=false"></script> %>
    <style>
        html, body {
            margin:auto;
          background-image: url(https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-665023.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            width: 100%;
          height: 100%;
  position: absolute;
}
  h1 {
    font-family: 'BioRhyme', serif;
  }

  a {
    font-family: 'Raleway', sans-serif;
  }

  #map {
    width: 100%;
    height: 600px;
    padding: 5px;
}
.controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
#searchInput {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 50%;
}
#searchInput:focus {
    border-color: #4d90fe;
}
    /* Set the size of the div element that contains the map */
    /* #map {
      height: 400px;

      width: 100%;

    }
/*  */


    hr {
    border: none;
    border-top: 3px double #333;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
    margin: 0 auto;
}



    /* html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #description {
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
      }

      #infowindow-content .title {
        font-weight: bold;
      }

      #infowindow-content {
        display: none;
      }

      #map #infowindow-content {
        display: inline;
      }

      .pac-card {
        margin: 10px 10px 0 0;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        background-color: #fff;
        font-family: Roboto;
      }

      #pac-container {
        padding-bottom: 12px;
        margin-right: 12px;
      }

      .pac-controls {
        display: inline-block;
        padding: 5px 11px;
      }

      .pac-controls label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }

      #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 400px;
      }

      #pac-input:focus {
        border-color: #4d90fe;
      }

      #title {
        color: #fff;
        background-color: #4d90fe;
        font-size: 25px;
        font-weight: 500;
        padding: 6px 12px;
      }
      #target {
        width: 345px;
      } */


  </style>
    <link href="https://fonts.googleapis.com/css?family=BioRhyme|Raleway" rel="stylesheet">
    <link rel="stylesheet" href="/styles/style.css">
</head>

<body>
    <header>

        <h1>Welcome to the Open Road</h1>
    </header>

    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="">Login</a>
        <a href="">Sign Up</a>
    
  <input id="searchInput" class="controls" type="text" placeholder="Enter a location">
<div id="map"></div>


<img src="ORvan-copy.png" alt="">

  <div class="plan-trip">
    <h1>Plan Trip</h1>
    <button type="button" name="button"><a href="/trip/new">Create Your Trip Today</a></button>
  </div>
  <hr>

  <div class="browse-trip">
    <h1>Browse Trips</h1>
    <button type="button" name="button"><a href="/trip">Browse</a></button>
  </div>
  <hr>

  <div class="staff-favs">
    <h1>Staff Favorites</h1>
  </div>
  <hr>

  <div class="about">
    <h1>About Open Road</h1>
  </div>
  <hr>

  <div class="contact">
    <footer>
      <h1>Contact<h1>
    </footer>
  </div>

  <script>
  function initMap() {
  var map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: 31.67754321, lng: -98.5089314},
    zoom: 6
  });
  var input = document.getElementById('searchInput');
  map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

  var autocomplete = new google.maps.places.Autocomplete(input);
  autocomplete.bindTo('bounds', map);

  var infowindow = new google.maps.InfoWindow();
  var marker = new google.maps.Marker({
      map: map,
      anchorPoint: new google.maps.Point(0, -29)
  });

  autocomplete.addListener('place_changed', function() {
      infowindow.close();
      marker.setVisible(false);
      var place = autocomplete.getPlace();
      if (!place.geometry) {
          window.alert("Autocomplete's returned place contains no geometry");
          return;
      }

      // If the place has a geometry, then present it on a map.
      if (place.geometry.viewport) {
          map.fitBounds(place.geometry.viewport);
      } else {
          map.setCenter(place.geometry.location);
          map.setZoom(12);
      }
      marker.setIcon(({
          url: place.icon,
          size: new google.maps.Size(71, 71),
          origin: new google.maps.Point(0, 0),
          anchor: new google.maps.Point(17, 34),
          scaledSize: new google.maps.Size(35, 35)
      }));
      marker.setPosition(place.geometry.location);
      marker.setVisible(true);

      var address = '';
      if (place.address_components) {
          address = [
            (place.address_components[0] && place.address_components[0].short_name || ''),
            (place.address_components[1] && place.address_components[1].short_name || ''),
            (place.address_components[2] && place.address_components[2].short_name || '')
          ].join(' ');
      }

      infowindow.setContent('<div><strong>' + place.name + '</strong><br>' + address);
      infowindow.open(map, marker);

      //Location details
      for (var i = 0; i < place.address_components.length; i++) {
          if(place.address_components[i].types[0] == 'postal_code'){
              document.getElementById('postal_code').innerHTML = place.address_components[i].long_name;
          }
          if(place.address_components[i].types[0] == 'country'){
              document.getElementById('country').innerHTML = place.address_components[i].long_name;
          }
      }
      document.getElementById('location').innerHTML = place.formatted_address;
      document.getElementById('lat').innerHTML = place.geometry.location.lat();
      document.getElementById('lon').innerHTML = place.geometry.location.lng();
  });
}
  </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAJq8KQKS8pry66L5fJPWHWPm9Mbfc5KaI&callback=initMap&libraries=places">
    </script>
</body>

</html>
