html, body {
     font-family: 'Raleway', sans-serif;
}
.plan-trip {
    font-family: 'BioRhyme', serif;
    background-color: aqua
}
.browse-trip {
    font-family: 'BioRhyme', serif;
    background-color: blue
}
.staff-favs {
    font-family: 'BioRhyme', serif;
   background-color: chartreuse
}
.about {
    font-family: 'BioRhyme', serif;
    background-color: darkorange
}
.contact {
    font-family: 'BioRhyme', serif;
    background-color: firebrick
} 
.container {
    
}
.navbar-static-top {
    
}
.justify {
    display: flex;
    align-self: auto;
}
.topnav {
    font-family: 'BioRhyme', serif;
}