
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      <h1>Profile Creation</h1>

      <nav>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/users">User Index</a>
          </li>
        </ul>
      </nav>
    </header>
      <main>
        <h2>Profile Information</h2>

        <form action="/users" method="POST">

            <label for="">Name</label>
            <br />
            <input type="text" name="name" /><br />

            <label for="">Upload Profile Pic</label>
            <br />
            <input type="text" name="profilePic" /><br />

            <label for="">Hometown</label>
            <br />
            <input type="text" name="hometown" /><br />

            <label for="">Age</label></br>
            <input type="number" name="age" /><br />

            <label for="">What Kind of car do you drive?</label>
            <br />
            <input type="text" name="carModel" /><br />

            <label for="">Do you travel with pets?</label>
            <br />
            <input type="radio" name="petCheck"/>Yes<br />
            <input type="radio" name="petCheck"/>No<br />

            <label for="">Favorite Hobby</label>
            <br />
            <input type="text" name="hobby" /><br />


            <input type="submit" value="Create New Profile" /></br>
        </form>
      </main>
  </body>
</html>
