html, body {
    background-image: url(https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-665023.jpg)
}
.plan-trip {
    background-color: aqua
}
.browse-trip {
    background-color: blue
}
.staff-favs {
   background-color: chartreuse
}
.about {
    background-color: darkorange
}
.contact {
    background-color: firebrick
}