<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      <h1>Trips</h1>
      <nav>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/trip/new">Create a new Trip</a>
          </li>
        </ul>
      </nav>
    </header>
      <main>
        <h2>List of Trips</h2>
        <ul>
          <% for(let i = 0; i < trips.length; i++){ %>
            <li>
              <a href="/trips/<%=trip[i]._id%>"><%=trip[i].name%></a>
            </li>
          <% } %>
        </ul>
      </main>
  </body>
</html>
