<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://fonts.googleapis.com/css?family=BioRhyme%7CRaleway" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
     <link rel="stylesheet" href="/css/style.css">
    <title></title>
  </head>
  <body>
    <header>
      <h1>Trips</h1>
      <nav>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/trip/new">Create a new Trip</a>
          </li>
        </ul>
      </nav>
    </header>
      <main>
        <h2>List of Trips</h2>
        <ul class="row">
      <%  for ( let i = 0; i < trips.length; i++ ) { %>
        <li class="col-3 u">
          <%=  trips[i].name %> </br>
          <form action="/trip/<%=trips[i].id%>" method="GET">
            <input type="submit" value="View Trip">
        </form>
      </li></br>
    <%    } %>
  </ul>
      </main>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </body>
</html>
