<!DOCTYPE html>
<html>

<head>
   <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://fonts.googleapis.com/css?family=BioRhyme|Raleway" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
     <link rel="stylesheet" href="/css/style.css">
  <title></title>
  
</head>

<body>
  <header>
    <h1>Create a Trip</h1>
    <nav>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/trip">Browse Trips</a>
        </li>
      </ul>
    </nav>
  </header>
  <main>
    <form action="/trip" method="POST">
      <h3>Plan A Trip</h3>
      <br/>

      <select name="tripIds">
        <% for (let i=0; i < users.length; i++) { %>
          <option value="<%=users[i].id%>"><%=users[i].name%></option>
        <% } %>
      </select>

      <label for="">User</label></br>

    </br>
      <label for="">Pictures of your Plans</label>
      <br/>
      <input type="text" name="pic1" /><br/>
      <input type="text" name="pic2" /><br/>
      <input type="text" name="pic3" /><br/>

    </br>
      <label for="">Name of Trip</label>
      <br/>
      <input type="text" name="name" /><br/>

      <label for="">Starting Point</label>
      <br/>
      <input type="text" name="cityStart" /><br/>

      <label for="">Endpoint</label>
      <br/>
      <input type="text" name="cityEnd" /><br/>

      <label for="">Length of Trip</label>
      <br/>
      <input type="text" name="tripLength" /><br/>

      <label for="">What kind of trip are you taking?</label>
      <br/>
      <input type="text" name="tripReason" /><br/>

      <label for="">Why are you going?</label>
      <br/>
      <input type="text" name="extraDetails" /><br/>



      <input type="submit" value="Create Trip"/>
      </form>
  </main>
   <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAJq8KQKS8pry66L5fJPWHWPm9Mbfc5KaI&callback=initMap&libraries=places">
    </script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</body>

</html>
