




<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <header>
    <h1>Show page for <%= trip.name %></h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/trip">Trip Index</a></li>
        <li><a href="/trip/<%=trip.id%>/edit">Edit Trip</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <section>
      <h2>Trip Details:</h2>
      <ul>
        <li>Name: <%= trip.name %></li>
      </ul>
    </section>

    <section>
      <form action="/trip/<%=trip.id%>?_method=DELETE" method="POST" >
        <input type="submit" value="Delete Trip">
      </form>
    </section>

  </main>
</body>
</html>
