




<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <header>
    <h1>Show page for <%= trip.name %></h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/trip">Trip Index</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <section>
      <h2>Trip Details:</h2>
      <ul>
        <li>Name: <%= trip.name %></li>
      </ul>
    </section>
  </main>
</body>
</html>
